body {
  background-color: cornsilk;
}

.header {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1.125em;
  border-bottom: 1px solid gray;
  padding: 0.635em 0;
  margin: 0;
}

.accordion-item {
  border-bottom: 1px solid gray;
}

.bayan-container {
  margin: 1.25em;
  display: flex;
  flex-direction: column;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
  padding: 0.625em 0px;
}

.accordion-content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 1s;
}

.accordion-img {
  display: flex;
  align-items: center;
  max-width: 12.5em;
  transition: opacity 0.1s ease-in-out, transform 0.7s ease;
}

.accordion-img:active {
  opacity: 0.8;
}

.accordion-input {
  appearance: none;
  position: absolute;
}

.accordion-input:checked ~ .accordion-content {
  padding: 1.25em 0;
  max-height: 50em;
  opacity: 1;
  transition: max-height 0.5s ease-in;
}

.accordion-input:checked ~ .accordion-title > .plus-icon {
  transform: rotate(45deg);
}

.plus-icon {
  transition: all 0.25s ease-in-out;
}